.outter {
    --size: 284px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    left: calc(50% - var(--size)/2);
    top: calc(50% - var(--size)/2);
    border-radius: calc(var(--size) / 2);


    background: #F33052;
    box-shadow: 0px 13px 20px rgba(243, 48, 82, 0.5);
}

input {
    display: none;
}

.inner {
    position: absolute;
    --size: 215px;
    width: var(--size);
    height: var(--size);
    left: calc(50% - var(--size)/2);
    top: calc(50% - var(--size)/2);
    border-radius: calc(var(--size) / 2);

    background: #FFFFFF;
    box-shadow: inset 0px 13px 20px rgba(243, 48, 82, 0.5);
}

.outter:hover {
    cursor: pointer;
}



.outter:hover .inner {
    transition-duration: 0.5s;
    transform: scale(80%, 80%);
    animation-iteration-count: 2;
    animation-direction: alternate;

}

.rect {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    background: #ffffff;
}

.check {
    position: absolute;
    --width: 265px;
    width: 0;
    height: 225px;
    left: calc(50% + 34px - var(--width)/2);
    top: calc(50% - 60px - 215px/2);
    overflow: hidden;
}

.left {
    width: 108px;
    height: 17px;
    top: 154px;
    transform: rotate(45deg);
}

.right {
    width: 223.52px;
    height: 17px;
    left: 55px;
    top: 104px;
    transform: rotate(-45deg);
}

input:checked+label div.check {
    transition: width .3s .3s;
    width: 265px;
}

input:checked+label div.inner,
input:checked+label div.outter:hover div.inner {
    transform: scale(0%, 0%);
    transition-duration: .3s;
}

input:checked+label div.outter {
    animation-name: outter-checked-animation;
    animation-duration: .5s;
}

@keyframes outter-checked-animation {
    0% {
        transform: scale(100%, 100%);
    }

    50% {
        transform: scale(95%, 95%);
    }

    100% {
        transform: scale(100%, 100%);
    }
}

input:checked+label div.inner:hover {
    transform: scale(0%, 0%) 1s;
}

input:checked+label .outter:hover .inner {
    transform: scale(0%, 0%) 1s;
}