.outter {
    --size: 284px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    left: calc(50% - var(--size)/2);
    top: calc(50% - var(--size)/2);
    border-radius: calc(var(--size) / 2);


    background: #F33052;
    box-shadow: 0px 13px 20px rgba(243, 48, 82, 0.5);
}

.inner {
    position: absolute;
    --size: 215px;
    width: var(--size);
    height: var(--size);
    left: calc(50% - var(--size)/2);
    top: calc(50% - var(--size)/2);
    border-radius: calc(var(--size) / 2);

    background: #FFFFFF;
    box-shadow: inset 0px 13px 20px rgba(243, 48, 82, 0.5);
}

.outter:hover {
    cursor: pointer;
}

.outter:hover .inner {
    transition-duration: 0.5s;
    transform: scale(80%, 80%);
    animation-iteration-count: 2;
    animation-direction: alternate;

}

.check {
    position: absolute;
    --width: 265px;
    transform: scale(0%, 100%);
    width: var(--width);
    height: 215px;
    left: calc(50% + 34px - var(--width)/2);
    top: calc(50% - 60px - 215px/2);

    clip-path: inset(0px 0px 0px 0px);
    /* clip-path: inset(10px 5px 10px 50px round 5%); */
}

.left {
    position: relative;
    width: 108px;
    height: 17px;
    top: 154px;

    background: #D9D9D9;
    transform: rotate(45deg);
}

.right {
    position: relative;
    width: 223.52px;
    height: 17px;
    left: 55px;
    top: 104px;
    background: #D9D9D9;
    transform: rotate(-45deg);
}

input{
}

input:checked + label div.check{
    transition: var(--width);
    transition-duration: 0.5s;
    transform-origin: top;
    transform: scaleX(100%);
    transform-origin: 100%;
}